<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add Blog</title>
  </head>
  <body>
    <div class="container">
        <h1>Add New Blog </h1>
    
        <form action="" method="POST">
            {% csrf_token %}
            <label>Title:</label>
            <input type="text" name="Title"/><br><br>
            <label>Content:</label>
            <textarea name="Content"></textarea><br><br>
            <label>Choose Is Published:</label>
            <label>Yes</label>
            <input type="radio" checked="yes" name ="is_published" value="True"/>
            <label>No</label>
            <input type="radio" checked="no" name ="is_published" value="False"/><br><br>
            <label>Publish Date:</label>
            <input type="datetime-local" name="publish_date" /><br><br>
    
            <input type="submit" value="Create" />
        </form>
    
    </div>
  </body>
</html>