{% extends  'base.html'  %}

{% block content %}
<div class="center">
<h1>Add a new post to the greatest blog :D !</h1>
</div>
<div class="container-fluid center ">
    
    <form action="" method="POST">
        {% csrf_token %}
        <label>Title:</label> <br>
        <input type="text" name="title" placeholder="title"/> <br>
        
        <label>content:</label> <br>
        <textarea name="content"></textarea> <br>

    
        <label>Publish date:</label><br>
        <input type="date" name="publish_date"> <br>  
        
        <label>Do You want to publish it now ? </label>
        <input type="radio" name="is_published" value="True">
        
        <label>Yes</label>
        <input type="radio" name="is_published" value="False">
        <label>No</label>
        
        
        <hr>
        <input type="submit" value="submit">
        
    </form>
    
    </div>


{% endblock %}